<body background="./assets/watercolor.webp">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
                <th><span>AirLine name</span></th>
							<th><span>Airline Phone</span></th>
							<th class="text-center"><span>AirLine Address</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let u of airline; index as i">
                <td>
                  <span class="label label-default">{{u.airname}}</span>
                </td>
							<td>
								{{u.airphone}}
							</td>
							<td class="text-center">
								<span class="label label-default">{{u.airaddress}}</span>
							</td>
							<td style="width: 20%;">
                <button mat-raised-button >Update</button>
							</td>
						</tr>
                       <button type="back" class="btn btn-dark"><a routerLink="/adminhome" href="#">Back</a></button>
                    </tbody>
              </table>
              </div>
        </div>
    </div>
</div>
</div>
</body>
