 <nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid" align="center">
    <!-- <button mat-raised-button><a routerLink="/usernavbar" class="nav-link" href="#"> userHome</a></button> -->
    <button mat-raised-button class="btn btn-info" (click)="userHome()"><a  class="nav-link" color="black" > Home</a></button>
      <button mat-raised-button class="btn btn-info" (click)="bookTicket()"><a  class="nav-link"> Book ticket</a></button>
      <button mat-raised-button class="btn btn-info" (click)="getticket()"><a  class="nav-link" > Get ticket</a></button>
     
  </div>
</nav>